@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('/docs/image.png');
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

body.loaded {
  opacity: 1;
}

.back-button img {
  position: absolute;
  width: 100px; /* Set to your desired width */
  height: auto; /* Maintains aspect ratio */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  z-index: 1000;
  opacity: 1; /* Ensure full visibility */
}

.flipbook {
  width: 1000px;
  height: 600px;
}

.flipbook .hard .frontcover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.flipbook .hard .backcover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.flipbook .hard {
  background: #c0392b !important;
  color: #fff;
  font-weight: bold;
  border: none;
}

.flipbook .hard small {
  font-style: italic;
  font-weight: lighter;
  opacity: 0.7;
  font-size: 14px;
}

.flipbook .page {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img {
  width: 100%; /* Changed from 70% to 100% */
  height: 100%; /* Added height 100% */
  object-fit: cover; /* Added to make images cover the entire area */
  margin: 0; /* Changed from auto to 0 */
}

.page-3 img {
  object-fit: contain; /* Changes to contain instead of cover to prevent cropping */
  padding: 0px; /* Adds some padding */
}
.page-5 img {
  object-fit: contain; /* Changes to contain instead of cover to prevent cropping */
  padding: 0px; /* Adds some padding */
}

.page-8 img {
  object-fit: contain; /* Changes to contain instead of cover to prevent cropping */
  padding: 0px; /* Adds some padding */
}

.page-10 img {
  object-fit: contain; /* Changes to contain instead of cover to prevent cropping */
  padding: 0px; /* Adds some padding */
}

.flipbook .page small {
  font-size: 14px;
  margin-bottom: 10px;
}
